.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition-duration: 2s;
}

/* SOLUZIONE 1 */
.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition-duration: 3s;
    transition-property: width;
    transition-timing-function: linear;
}

/* SOLUZIONE 2 */
.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition-duration: 0.5s;
    transition-property: border-radius;
}

/* SOLUZIONE 3 */
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition-duration: 1s;
    transition-property: opacity;
}

/* SOLUZIONE 4 */
.ex-4-square:hover {
    opacity: 0%;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition-duration: 1s;
    transition-property: transform;
}
/* SOLUZIONE 5 */
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: grayscale(.2) opacity(0.6);
    transition-duration: 3s;
}
.ex-8-img:hover {
    filter: sepia(.4) blur(2px);
    border-radius: 20px;
    transition-duration: 3s;
}

.ex-9-img {
    width: 500px;
}

.ex-9-img:hover {
    filter: sepia(.4) opacity(0.5);
    border-radius: 20px;
    transform: scale(0.6);
    transition-duration: 2s;
}

.ex-10-icon{
    font-size: 60px;
    animation: spin; 
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    0% {
        transform: rotate(365deg);
    }
}
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: CircularSpin;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes CircularSpin {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    left:40px;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    

}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    
}

.ex-12-button:hover .ex-12-top-white {
    animation-name: topBorder;
    animation-duration: 1.9s;
    animation-timing-function: linear;
}

@keyframes topBorder {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px - 20px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: bottomBorder;
    animation-duration: 1.9s;
    animation-timing-function: linear;
}

@keyframes bottomBorder {
    0% {
        left: calc(100% - 60px - 20px);
    }
    50% {
        left: 10%;
    }
    100% {
        left: calc(100% - 60px - 20px);
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: topLapBorder;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes topLapBorder {
    0% {
        left: 10%;
        top: -10px;
    }
    20% {
        left: calc(100% - 1px);
        top: -21px;
    }
    40% {
        left: calc(100% - 1px);
        top: 62px;
    }

    60% {
        left: -30%;
        top: 62px;
    }

    80% {
        left: -30%;
        top: -20px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}


.ex-13-button:hover .ex-13-bottom-white {
    animation-name: bottomLapBorder;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes bottomLapBorder {
    0% {
        bottom: -10px;
        right: 10%;
    }
    
    20% {
        bottom: -19px;
        right: calc(100% - 1px);
    }

    40% {
        bottom: 63px;
        right: calc(100% - 1px);
    }

    60% {
        bottom: 63px;
        right: -31%;
    }

    80% {
        bottom: -19px;
        right: -31%;
    }

    100% {
        bottom: -10px;
        right: 10%;
    }
}